@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as mix;
@use '../abstracts/placeholders' as *;

.sidebar {
    @include mix.glass();
    @include mix.card();
    padding: $padding-sidebar;
    display: none;
}

.sidebar.open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    z-index: 100000;
    
    .user{
        align-self: flex-end;
    }
}

.open.toggle-btn {
    display: none;
}

@media (min-width: 62rem) {
    .sidebar {
        @include mix.flex(column, space-between, start);
        padding-top: 100px;
    }
}

.sidebar-up {
    @include mix.flex(column, space-between, start);
    gap: 1rem;
}

.navigation {
    @include mix.flex(column, space-between, start);
    gap: 1rem;

    li {
        display: flex;
        align-items: center;
        gap: 1rem;
        position: relative;
    }

    .nav-link:hover .hover-btn,
    .nav-link:hover .hover-btn2 {
        opacity: 1;
        right: -9px;
    }
}

.nav-icon {
    @include mix.img-size(20px, 20px);
}

.user {
    @extend %user;
}